//! Palette
$primary: #1FA78F;
$primaryHover: #278e7b;
$primaryActive: #297e6f;
$white: whitesmoke;
$whiteRare: rgba(245, 245, 245, 0.797);
$black: #222222;
$black2: #1A1A1A;
.header{
    position: relative;
}
.header > span{
    width: 600px;
    height: 600px;
    background-color: $primary;
    position: absolute;
    border-radius: 50%;
    filter: blur(150px);
    right: 70px;
    top: 150px;
}

.dot{
    width: 25px;
    height: 25px;
    background-color: $primary;
    position: absolute;
    border-radius: 50%;
    &:nth-child(1){
        top: 200px;
    }
    &:nth-child(2){
        top: 100px;
    }
    &:nth-child(3){
        top: 400px;
    }
}

.line{
    width: 4px;
    height: 140px;
    background-color: $primary;
    position: absolute;
    left: 10px;
    &:nth-child(2){
        top: 240px;
    }
}
.experience::first-letter{
    font-size: 60px;
}
.dot1{
    width: 25px;
    height: 25px;
    background-color: $primary;
    border-radius: 50%;
}
.line1{
    width: 4px;
    height: 100px;
    background-color: $primary;
}

.page > .active-page > span{
    background-color: $primary;
    width: 70px;
    cursor: auto;
}
.page > .active-page{
    width: 80px !important;
}
.page > div{
    width: 50px;
}
.page > div > span{
    width: 40px;
    height: 4px;
    background-color: $white;
    position: absolute;
    cursor: pointer;
}
.line2{
    width: 98%;
    height: 1px;
    background-color: $primary;
    position: absolute;
}