   <!-- ? Modals -->
<app-modal1 *ngIf="modal"></app-modal1>
<app-modal1 *ngIf="postModal" [message]="postMessage"></app-modal1>

<!-- ? Navbar -->
<app-nav></app-nav>

<!-- ? Header -->
<section class="header container d-flex justify-content-between flex-column flex-md-row" >
  <span style="z-index: -1;"></span>
  <div class="mt-md-5 col-10 d-none d-md-block">
    <span class="mt-5 p" style="display: block;"></span>
    <h1 class="text-primary" style="text-shadow: 2px 2px 10px black;">Mobin Barmar</h1>
    <h2 class="col-5 fw-normal mt-4">I'm a data analyst & full-stack developer</h2>
    <p class="col-5 mt-4">I have a significant skill in coding, making the complicated algorithms, and problem solving!</p>
    <div class="mt-4 mt-md-5">
      <a href="https://www.github.com/mobinbarmar" target="_blank">=> &nbsp;&nbsp; github.com/mobin-barmar</a>
    </div>

    <div class="mt-4 mt-md-5">
      <a href="https://www.github.com/mobinbarmar"><button class="btn btn-primary px-5 d-none d-md-block">See my projects</button></a>
      <a href="https://www.github.com/mobinbarmar"><button class="btn btn-dark px-5 d-block d-md-none">See my projects</button></a>
    </div>
  </div>
  <!--! Mobile -->
  <div class="mt-md-5 col-12 d-md-none">
    <span class="mt-5 p" style="display: block;"></span>
    <h1 class="text-primary" style="text-shadow: 2px 2px 10px black;">Mobin Barmar</h1>
    <h3 class="fw-normal mt-4">I'm a data analyst & full-stack developer</h3>
    <p class="mt-4">I have a significant skill in coding, making the complicated algorithms, and problem solving!</p>
    <div class="mt-4 mt-md-5">
      <a href="github.com/mobin-barmar">=> &nbsp;&nbsp; github.com/mobin-barmar</a>
    </div>

    <div class="mt-4 mt-md-5">
      <a href="https://www.github.com/mobinbarmar" class="btn btn-primary px-5 d-none d-md-block">See my projects</a>
      <a href="https://www.github.com/mobinbarmar" class="btn btn-dark px-5 d-block d-md-none">See my projects</a>
    </div>
  </div>


  <div style="position: relative;height: 593px;" class="d-none d-md-block col-2">
    <img src="../../../assets/img/header.png" width="400" class="mx-auto" style="position: absolute;right: 150px;top: 35px;">
  </div>
  <!--! Mobile -->
  <div style="position: relative;height: 350px;" class="d-md-none">
    <img src="../../../assets/img/header.png" width="250" class="mx-auto" style="position: absolute;bottom: -50px;">
  </div>
</section>


<!-- ? Underheader -->
<section class="bg-black2 mt-5 py-4">
  <div class="container d-flex justify-content-between align-items-center">
    <a href="https://www.instagram.com/mobin_barmar" class="d-flex align-items-center justify-content-center">
      <img src="../../../assets/img/ig.png" alt="">
      <p class="text-primary  mt-3 ms-3 d-none d-md-block">Mobin-barmar</p>
    </a>

    <a href="https://www.linkedin.com/in/mobin-barmar" class="d-flex align-items-center justify-content-center">
      <img src="../../../assets/img/in.png" alt="">
      <p class="text-primary mt-3 ms-3 d-none d-md-block">Mobin-barmar</p>
    </a>
    <a href="https://t.me/mobin_barmar" class="d-flex align-items-center justify-content-center">
      <img src="../../../assets/img/telegram.png" alt="">
      <p class="text-primary mt-3 ms-3 d-none d-md-block">Mobin-barmar</p>
    </a>
  </div>
</section>

<!-- ? Experiences -->
<section class="bg-black1 py-5">
  <div class="py-2 container">
    <!-- !Mobile -->
    <div class="col-11 d-md-none d-flex flex-column justify-content-center">
      <app-card1 (click)="activeModal()" [text]="'Research Assistant'"></app-card1>
      <app-card1 (click)="activeModal()" [text]="'Full-stack Developer'"></app-card1>
      <app-card1 (click)="activeModal()" [text]="'Data analyst'"></app-card1>
    </div>


    <div class="d-flex justify-content-between mt-5">
      <div class="col-md-4">
        <div>
          <h1 class="text-rare experience">Experience</h1>
        </div>
        <div class="d-flex">
          <div class="d-flex flex-column justify-content-between mt-5">
            <div class="d-flex justify-content-start">
              <div class="d-flex flex-column">
                <span class="dot1"></span>
                <span class="line1 ms-2 my-3"></span>
              </div>
              <p class="ms-4">Research Assistant at Azad University of Neyshabur. Working on Software-Defined Networking</p>
            </div>
    
            <div class="d-flex justify-content-start">
              <div class="d-flex flex-column">
                <span class="dot1"></span>
                <span class="line1 ms-2 my-3"></span>
              </div>
              <p class="ms-4">I am a full-stack developer in Angular as front-end, and Node.JS Express as back-end</p>
            </div>
    
            <div class="d-flex justify-content-start">
              <div class="d-flex flex-column">
                <span class="dot1"></span>
              </div>
              <p class="ms-4">AI, machine learning, Data Mining, Machine Vision, NLP, and System & Networking are my research intrests</p>
            </div>
          </div>
        </div>
      </div>


      <div class="d-none d-md-block col-7">
        <div class="d-flex">
          <div class="col-6" *ngIf="page == '1'">
            <app-card1 [text]="'Mobin'" (click)="activeModal()"></app-card1>
          </div>
          <div class="col-6" *ngIf="page == '1'">
            <app-card1 (click)="activeModal()"></app-card1>
          </div>

          <div class="col-6" *ngIf="page == '2'">
            <app-card1 (click)="activeModal()"></app-card1>
          </div>
          <div class="col-6" *ngIf="page == '2'">
            <app-card1 [text]="'Sina'" (click)="activeModal()"></app-card1>
          </div>

          <div class="col-6" *ngIf="page == '3'">
            <app-card1 [text]="'Mehdi'" (click)="activeModal()"></app-card1>
          </div>
          <div class="col-6" *ngIf="page == '3'">
            <app-card1 (click)="activeModal()"></app-card1>
          </div>
        </div>

        <div class="page d-flex justify-content-center">
          <div style="display: block;position: relative;" class="active-page" *ngIf="page == '1'">
            <span (click)="selectPage('1')"></span>
          </div>
          <div style="display: block;position: relative;" *ngIf="page !== '1'">
            <span (click)="selectPage('1')"></span>
          </div>
          <div style="display: block;position: relative;" class="active-page" *ngIf="page == '2'">
            <span (click)="selectPage('2')"></span>
          </div>
          <div style="display: block;position: relative;" *ngIf="page !== '2'">
            <span (click)="selectPage('2')"></span>
          </div>
          <div style="display: block;position: relative;" class="active-page" *ngIf="page == '3'">
            <span (click)="selectPage('3')"></span>
          </div>
          <div style="display: block;position: relative;" *ngIf="page !== '3'">
            <span (click)="selectPage('3')"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ? Form -->
<section class="container py-5">
  <div>
    <h3 class="text-primary fw-normal text-center">Welcome to my world! Don't forget to login!</h3>
  </div>

  <div class="line2" style="position: relative;">
    <span></span>
  </div>

  <form [formGroup]="form" class="d-md-flex justify-content-between mt-5 d-none">
    <div class="col-5 input-group-lg">
      <textarea name="" id="" cols="30" rows="10" placeholder="Description" class="form-control" formControlName="description"></textarea>
    </div>

    <div class="d-flex flex-column justify-content-between col-6">
      <div class="d-flex justify-content-around">
        <div class="col-5 input-group-lg">
          <input type="text" placeholder="Name" class="form-control" formControlName="firstName">
        </div>
        <div class="col-5 input-group-lg">
          <input type="text" placeholder="Family" class="form-control" formControlName="lastName">
        </div>
      </div>
      <div class="col-11 mx-auto input-group-lg">
        <input type="email" placeholder="E-mail" class="form-control" formControlName="email">
      </div>
      <div class="d-flex justify-content-around">
        <div class="col-1 input-group-lg">
          <select class="form-control col-2 pt-2 pb-3" style="font-size: 16px;" formControlName="code">
            <option value="+98">IR</option>
            <option value="+1" selected>US</option>
            <option value="+1">CA</option>
          </select>
        </div>
        <div class="col-9 input-group-lg">
          <input type="text" placeholder="Phone number" class="form-control" formControlName="phone">
        </div>
      </div>
      <div>
        <button class="btn btn-primary ms-4" (click)="submit()">Submit</button>
      </div>
    </div>
  </form>
  <!-- !Mobile -->
  <form class="d-md-none" [formGroup]="form">
    <div class="input-group-lg mt-5">
      <input type="text" class="form-control" placeholder="Name" formControlName="firstName">
    </div>
    <div class="input-group-lg mt-3">
      <input type="text" class="form-control" placeholder="Family" formControlName="lastName">
    </div>
    <div class="input-group-lg mt-3">
      <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
    </div>
    <div class="d-flex justify-content-between mt-3">
      <div class="input-group-lg col-2">
        <select name="" id="" class="form-control" formControlName="code">
          <option value="+98">IR</option>
          <option value="+1" selected>US</option>
          <option value="+1" selected>CA</option>
        </select>
      </div>
      <div class="input-group-lg col-9">
        <input type="text" class="form-control" placeholder="Phone number" formControlName="phone">
      </div>
    </div>
    <div class="input-group-lg mt-3">
      <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Description" formControlName="description"></textarea>
    </div>
    <div class="mt-4">
      <button class="btn btn-primary w-100" (click)="submit()">Submit</button>
    </div>
  </form>

  
  <div class="line2 my-5" style="position: relative;">
    <span></span>
  </div>
</section>

<!-- ? Footer -->
<div class="mt-5">
  <app-footer></app-footer>
</div>