<app-nav></app-nav>

<section class="header container d-flex justify-content-between">
  <span style="z-index: -1;"></span>
  <div class="mt-5">
    <span class="mt-5 p">d</span>
    <h1 class="text-primary" style="text-shadow: 2px 2px 10px black;">Mobin Barmar</h1>
    <h2 class="col-5 fw-normal mt-4">I'm a data analyst & full-stack developer</h2>
    <p class="col-5 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis amet deserunt temporibus
      veniam. Est, libero
      corrupti ratione molestiae praesentium?</p>
    <div class="mt-5">
      <a href="github.com/mobin-barmar">=> &nbsp;&nbsp; github.com/mobin-barmar</a>
    </div>

    <div class="mt-5">
      <button class="btn btn-primary px-5">See my Samples</button>
    </div>
  </div>


  <div style="position: relative;">
    <img src="../../../assets/img/header.png" width="400" style="position: absolute;right: 150px;top: 35px;">
  </div>
</section>
