<div class="card my-5 p-5 col-2 d-flex align-item-center" style="width: 500px;">
  <div class="text-center">
    <img src="../../../assets/img/icons8-info-384 1.png" alt="">
  </div>
  <div class="text-white text-center" style="font-weight: 100;">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, expedita explicabo aut reiciendis consectetur
    voluptates reprehenderit. Accusamus rerum error ea temporibus veritatis aut cum voluptates reiciendis natus,
    adipisci minus culpa!
  </div>
  <div class="text-primary text-center" style="font-weight: 500;">About Me</div>
</div>
