<h1 class="text-different display-4">Pallete:</h1>
<h1 class="btn btn-primary btn-lg me-2">btn-primary</h1>
<h1 class="btn btn-outline-primary btn-lg ">btn-outline-primary</h1>
<h1 class="text-primary">text-primary</h1>
<h1 class="text-white">text-white</h1>
<a href="" class="">This is a link</a>
<p>This is a normal text</p>
<h1 class="text-different">text-different</h1>
<div class="col-6 my-4">
    <input type="text" class="form-control" placeholder="Name">
    <textarea class="form-control mt-3" placeholder="Description" cols="30" rows="10"></textarea>
</div>